header {
    text-align: center;
}

button {
    font-size: 200%;
    visibility: hidden;
}

h1 {
    text-align: center;
    font-family: Arial Black, Arial Black, Gadget, sans-serif;
}

/*This probably should be a relative size because
this assumes a certain resolution on the monitor*/
table {
    width: 1280px;
}

th {
    font-size: 200%;
}

th.left {
    text-align: left;
}

th.right {
    text-align: right;
}

td.col1 {
    width: 13%
    text-align: left;
}

td.col2 {
    width: 35%;
    text-align: right;
}

td.col3 {
    width: 4%;
    text-align: center;
}

td.col4 {
    width: 35%;
    text-align: left;
}

td.col5 {
    width: 13%;
    text-align: right;
}

img.backface {
    visibility: hidden;
}

