table {
    width: 1280px;
}

.col1 {
    width: 13%
    text-align: left;
}

.col2 {
    width: 35%;
    text-align: right;
}

.col3 {
    width: 4%;
    text-align: center;
}

.col4 {
    width: 35%;
    text-align: left;
}

.col5 {
    width: 13%;
    text-align: right;
}