header {
    text-align: center;
}

body {
	background-image: url("other_images/faceoff.jpg");
	background-color: #000000;
	background-repeat: no-repeat;
	color: white;
}

button {
    font-size: 200%;
    visibility: hidden;
}

h1 {
    text-align: center;
    font-family: Arial Black, Arial Black, Gadget, sans-serif;
}

img{
    width: 10vw;
    height: auto;
}

/*This probably should be a relative size because
this assumes a certain resolution on the monitor*/
table {
    width: 1280px;
}

th {
    font-size: 200%;
}

th.left {
    text-align: left;
}

th.right {
    text-align: right;
}

td.col1 {
    width: 13%
    text-align: left;
}

td.col2 {
    width: 35%;
    text-align: right;
    height: auto;
}

td.col3 {
    width: 4%;
    text-align: center;
}

td.col4 {
    width: 35%;
    text-align: left;
    height: auto;
}

td.col5 {
    width: 13%;
    text-align: right;
}

td.tie_player1 {
    text-align: left;
}

td.tie_player2 {
    text-align: right;
}

img.backface {
    visibility: hidden;
    -webkit-box-shadow:0 0 100px yellow; 
    -moz-box-shadow: 0 0 100px yellow; 
    box-shadow:0 0 100px yellow;
}

img.tie_backface {
    visibility: hidden;
}

.player2Score {
    text-align: right;
}

img.card_spacer {
    visibility: hidden;
}
